body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f2f4fc;
}

@media (min-width: 768px) {
  .container-navbar {
    display: flex;
  }

  .navbar-menu-icon {
    display: none;
  }

  .hamb-menu {
    display: none;
  }

  .navbar-logo {
    width: 60px;
    height: 19px;
    margin-top: 87px;
    margin-left: 240px;
  }
  .navbar-list {
    display: flex;
    list-style-type: none;
    margin-top: 87px;
    line-height: 22.1px;
    size: 25px;
    font-weight: 500;
  }

  .li-home {
    margin-left: 310px;
    margin-right: 40px;
    color: #072ac8;
    cursor: pointer;
  }

  .li2 {
    margin-right: 40px;
    color: #6b708d;
  }
  .li3 {
    margin-right: 300px;
    color: #6b708d;
  }
  .navbar-button {
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    padding: 15px 36px;
    gap: 10px;
    width: 150px;
    height: 52px;
    background: #072ac8;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    text-align: center;
    color: #ffffff;
    border: 1px solid #072ac8;
    margin-top: 70px;
    cursor: pointer;
  }
  .hero-container {
    display: flex;
    margin-top: 60px;
    margin-bottom: 150px;
  }
  .heading {
    margin-top: 100px;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    color: #292e47;
    margin-right: -300px;
    margin-left: 240px;
  }

  .hero-description {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #6b708d;
    margin-top: 30px;
    margin-left: 240px;
    margin-right: -180px;
  }
  .hero-buttons {
    display: flex;
  }
  .hero-p-left {
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
    color: #6b708d;
    margin-left: 240px;
    margin-top: 45px;
    margin-right: 5px;
    white-space: nowrap;
    text-align: center;
  }
  .hero-button-right {
    background-color: #072ac8;
    color: #f2f4fc;
    height: 45px;
    width: 130px;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    margin-left: 40px;
    margin-top: 40px;
    text-align: center;
    border: 1px solid #072ac8;
    cursor: pointer;
  }

  .hero-right {
    display: flex;
  }

  .hero-card-1 {
    position: absolute;
    width: 250px;
    height: 266px;
    margin-left: 190px;
    margin-top: 25px;
  }

  .hero-main-image {
    width: 558px;
    height: 632px;
    margin-right: 200px;
    margin-left: 300px;
  }

  .hero-card-2 {
    position: absolute;
    width: 230px;
    height: 236px;
    margin-left: 700px;
    margin-top: 490px;
  }

  .logos-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-around;
    margin-bottom: 200px;
    margin-left: 50px;
  }

  .projects-heading {
    margin-left: 240px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #292e47;
  }

  .project-list-wrap {
    display: flex;
    margin-top: 70px;
    margin-bottom: 200px;
  }

  .project-1-card {
    width: 340px;
    height: 444px;
    background-color: #ffffff;
    box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
    margin-left: 240px;
  }

  .project-1-image {
    width: 340px;
    height: 240px;
    object-fit: cover;
  }

  .project-1-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-left: 30px;
    margin-top: 30px;
  }

  .project-1-description {
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #6b708d;
    margin-left: 30px;
    margin-top: 10px;
  }

  .project-2-card {
    width: 340px;
    height: 444px;
    background-color: #ffffff;
    box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
    margin-left: 40px;
  }

  .project-2-image {
    width: 340px;
    height: 240px;
    object-fit: cover;
  }

  .project-2-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-left: 30px;
    margin-top: 30px;
  }

  .project-2-description {
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #6b708d;
    margin-left: 30px;
    margin-top: 10px;
  }

  .project-3-card {
    width: 340px;
    height: 444px;
    background-color: #ffffff;
    box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
    margin-left: 40px;
  }

  .project-3-image {
    width: 340px;
    height: 240px;
    object-fit: cover;
  }
  .project-3-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-left: 30px;
    margin-top: 30px;
  }

  .project-3-description {
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #6b708d;
    margin-left: 30px;
    margin-top: 10px;
  }

  .project-link {
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #072ac8;
    margin-left: 30px;
    margin-top: 54px;
    text-decoration: none;
  }

  .testimonials-wrap {
    width: 1320px;
    height: 622px;
    background-color: #292e47;
    margin-left: 130px;
    position: relative;
    text-align: center;
  }

  .testimonials-orbit {
    width: 1320px;
    height: 622px;
  }

  .testimonials-heading {
    position: absolute;
    left: 330px;
    top: 40px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #f4f6fc;
  }

  .testimonials-text {
    position: absolute;
    left: 350px;
    top: 181px;
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    text-align: center;
    color: #ffc600;
    margin-right: 360px;
  }

  .testimonials-client {
    position: absolute;
    width: 171px;
    height: 50px;
    left: 570px;
    top: 470px;
    display: flex;
  }

  .testimonials-client-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 15px;
  }

  .testimonials-client-info {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .testimonial-client-name {
    font-weight: 400;
    font-size: 17px;
    line-height: 100%;
    color: #a2d6f9;
    margin-left: 10px;
    margin-bottom: 0px;
  }

  .testimonial-client-company {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #f4f6fc;
    margin-left: -20px;
  }

  .testimonials-emoji-1 {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 126px;
    top: 61px;
  }

  .testimonials-emoji-2 {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 1029px;
    top: 61px;
  }

  .testimonials-emoji-3 {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 133px;
    top: 399px;
  }

  .testimonials-emoji-4 {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 1030px;
    top: 399px;
  }

  .services-heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #292e47;
    margin-left: 240px;
    margin-top: 200px;
    margin-bottom: 70px;
  }

  .services-container {
    display: flex;
  }

  .services-card-1 {
    width: 340px;
    height: 380px;
    background: #ffffff;
    box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
    margin-left: 240px;
  }
  .services-card-2 {
    width: 340px;
    height: 380px;
    background: #ffffff;
    box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
    margin-left: 40px;
  }

  .services-card-3 {
    width: 340px;
    height: 380px;
    background: #ffffff;
    box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
    margin-left: 40px;
  }

  .services-icons {
    width: 40px;
    height: 40px;
  }

  .services-heading-card {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #292e47;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .services-text {
    width: 19vw;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #6b708d;
    margin-left: 20px;
    margin-bottom: 36px;
  }

  .services-link {
    font-weight: 500;
    font-size: 17px;
    line-height: 150%;
    color: #072ac8;
    text-decoration: none;
    margin-top: 500px;
    margin-left: 20px;
  }

  .services-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ecf7ff;
    width: 80px;
    height: 80px;
    border-radius: 49.6px;
    margin-left: 30px;
    margin-top: 40px;
  }

  .newsletter-container {
    width: 1320px;
    height: 500px;
    background: #ffc600;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    margin-left: 130px;
  }

  .newsletter-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #292e47;
    margin-top: 136px;
  }

  .newsletter-subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #292e47;
    margin-top: 20px;
  }

  .email-subscribe-container {
    margin-top: 50px;
    display: flex;
  }
  .email-box {
    width: 393px;
    height: 80px;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    text-align: center;
    color: black;
    background-image: url(images/mail.svg);
    background-repeat: no-repeat;
    background-position: 30px 25px;
    text-align: center;
    border: 1px solid #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .subscribe-botton {
    box-sizing: border-box;
    width: 198px;
    height: 82px;
    justify-content: center;
    align-items: center;
    padding: 15px 37px;
    gap: 10px;
    background: #072ac8;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    text-align: center;
    color: #ffffff;
    margin-left: 20px;
    border: 1px solid #072ac8;
    cursor: pointer;
  }
}

.error-div {
  width: 200px;
  height: 40px;
  background: red;
  display: none;
  color: #ffffff;
  text-align: center;
}

.ok-message {
  width: 200px;
  height: 40px;
  background: green;
  display: none;
  color: #ffffff;
}

.footer-container {
  display: flex;
  margin-top: 170px;
}

.logo-wrap {
  display: flex;
  flex-direction: column;
  margin-left: 240px;
}

.logo-footer {
  width: 98.38px;
  height: 30px;
  margin-bottom: 30px;
}

.footer-address {
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #6b708d;
  width: 16vw;
  margin-bottom: 100px;
}

.footer-link-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 106px;
  margin-left: 400px;
  height: 112px;
}

.footer-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
}

.project-article-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: 240px;
}

.article-heading {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #292e47;
  margin-bottom: 20px;
}

.subtitle-date-wrap {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #6b708d;
}

.cdate {
  display: flex;
}
.completed {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: right;
  color: #292e47;
  margin-right: 5px;
}

.date {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: right;
  color: #292e47;
}

.article-image {
  width: 1100px;
  height: 444px;
  object-fit: cover;
  margin-bottom: 70px;
}

.article-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #6b708d;
  width: 1100px;
}

.other-project-container {
  margin-bottom: 200px;
}

.contact-form-wrapper {
  margin-left: 240px;
  margin-bottom: 140px;
}

#form-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #6b708d;
}

.contact-heading {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #292e47;
  margin-top: 150px;
  margin-bottom: 80px;
  margin-left: 240px;
}

.wrap-form {
  display: flex;
}

.full-name-wrap {
  display: flex;
  flex-direction: column;
}
.email-phone-wrap {
  display: flex;
  margin-bottom: 40px;
}
.email-wrap {
  display: flex;
  flex-direction: column;
}

.phone-wrap {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.message-wrap {
  display: flex;
  flex-direction: column;
  text-align: initial;
}

.full-name-inp {
  width: 1100px;
  height: 70px;
  background: rgba(107, 112, 141, 0.1);
  box-sizing: border-box;
  border: 1px solid rgba(107, 112, 141, 0.1);
  margin-top: 10px;
  margin-bottom: 40px;
  padding-left: 20px;
}

.email-inp {
  width: 530px;
  height: 70px;
  background: rgba(107, 112, 141, 0.1);
  box-sizing: border-box;
  border: 1px solid rgba(107, 112, 141, 0.1);
  margin-top: 10px;
  padding-left: 20px;
}

.phone-inp {
  width: 530px;
  height: 70px;
  background: rgba(107, 112, 141, 0.1);
  box-sizing: border-box;
  border: 1px solid rgba(107, 112, 141, 0.1);
  margin-top: 10px;
  padding-left: 20px;
}

.message-inp {
  width: 1100px;
  height: 200px;
  background: rgba(107, 112, 141, 0.1);
  box-sizing: border-box;
  border: 1px solid rgba(107, 112, 141, 0.1);
  margin-top: 10px;
  padding-bottom: 130px;
  padding-left: 20px;
}

.form-button {
  width: 1100px;
  height: 80px;
  background: #072ac8;
  border: 1px solid #072ac8;
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;
  text-align: center;
  color: #ffffff;
  margin-top: 40px;
  cursor: pointer;
}

input::placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #6b708d;
}

.message-inp::placeholder {
  margin-top: 0px;
}









@media (max-width: 768px) {
  body {
    max-width: 768px;
    margin: 0;
  }

  .navbar-logo {
    width: 60px;
    height: 19px;
    margin-top: 20px;
    margin-left: 20px;
  }
  .navbar-list {
    display: none;
  }

  .navbar-button {
    display: none;
  }

  .hamb-menu {
    padding-left: 230px;
    margin-right: 0px;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .heading {
    margin-top: 50px;
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    color: #292e47;
    width: 90vw;
  }

  .hero-description {
    text-align: center;
    font-size: 17px;
    margin-left: 40px;
    margin-right: 40px;
    color: #6b708d;
    width: 90vw;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 40px;
  }

  .hero-button-right {
    background-color: #072ac8;
    color: #f2f4fc;
    height: 45px;
    width: 130px;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    text-align: center;
    border: 1px solid #072ac8;
  }

  .hero-p-left {
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
    color: #6b708d;
    margin-top: 45px;
    white-space: nowrap;
    text-align: center;
  }
  .hero-right {
    margin-left: 10px;
  }
  .hero-main-image {
    width: 90vw;
  }

  .hero-card-1 {
    /* margin-top: 40px;
    margin-left: 40px;
     */
    display: none;
  }

  .hero-card-2 {
    /* margin-left: 500px;
    margin-top: 530px; */
    display: none;
  }

  .logos-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-around;
    row-gap: 20vw;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .amazon-logo {
    display: none;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projects-heading {
    font-weight: 700;
    font-size: 30px;
    color: #292e47;
  }

  .project-1-card {
    width: 340px;
    height: 444px;
    background-color: #ffffff;
    margin-bottom: 20px;
  }

  .project-1-image {
    width: 340px;
    height: 240px;
  }

  .project-1-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-top: 30px;
    margin-left: 30px;
  }

  .project-1-description {
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #6b708d;
    margin-left: 30px;
    margin-top: 10px;
  }

  .project-2-card {
    width: 340px;
    height: 444px;
    background-color: #ffffff;
    margin-bottom: 20px;
  }

  .project-2-image {
    width: 340px;
    height: 240px;
  }

  .project-2-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-left: 30px;
    margin-top: 30px;
  }

  .project-2-description {
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #6b708d;
    margin-left: 30px;
    margin-top: 10px;
  }

  .project-3-card {
    width: 340px;
    height: 444px;
    background-color: #ffffff;
    margin-bottom: 40px;
  }

  .project-3-image {
    width: 340px;
    height: 240px;
  }
  .project-3-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-left: 30px;
    margin-top: 30px;
  }

  .project-3-description {
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #6b708d;
    margin-left: 30px;
    margin-top: 10px;
  }

  .project-link {
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #072ac8;
    margin-left: 30px;
    margin-top: 54px;
  }

  .testimonials-orbit {
    display: none;
  }

  .testimonials-client-image {
    width: 50px;
    height: 50px;
  }

  .testimonials-wrap {
    margin-top: 40px;
    height: 460px;
    background-color: #292e47;
    text-align: center;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  .testimonials-emoji-1 {
    display: none;
  }

  .testimonials-emoji-2 {
    display: none;
  }

  .testimonials-emoji-3 {
    display: none;
  }

  .testimonials-emoji-4 {
    display: none;
  }

  .testimonials-heading {
    top: 40px;
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
    color: #f4f6fc;
    width: 90vw;
  }

  .testimonials-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    text-align: center;
    color: #ffc600;
    width: 85vw;
  }

  .testimonials-client {
    width: 171px;
    height: 50px;
    display: flex;
  }

  .testimonials-client-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 15px;
  }

  .testimonials-client-info {
    display: flex;
    flex-direction: column;
  }
  .testimonial-client-name {
    font-weight: 400;
    font-size: 17px;
    line-height: 100%;
    color: #a2d6f9;
    margin-bottom: 0px;
    margin-left: 10px;
  }

  .testimonial-client-company {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #f4f6fc;
    margin-left: -20px;
  }

  .services-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .services-heading {
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    color: #292e47;
  }

  .services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .services-card-1 {
    width: 340px;
    height: 380px;
    background: #ffffff;
    box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }

  .services-card-2 {
    width: 340px;
    height: 380px;
    background: #ffffff;
    box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }

  .services-card-3 {
    width: 340px;
    height: 380px;
    background: #ffffff;
    box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }

  .services-icon-1 {
    background: #ecf7ff;
    width: 40px;
    height: 40px;
    padding: 20px;
    border-radius: 49.6px;
    margin-left: 30px;
    margin-top: 40px;
  }

  .services-heading-card {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #292e47;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .services-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #6b708d;
    margin-left: 20px;
    margin-bottom: 36px;
  }

  .services-link {
    font-weight: 500;
    font-size: 17px;
    line-height: 150%;
    color: #072ac8;
    text-decoration: none;
    margin-left: 20px;
  }
  .services-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ecf7ff;
    width: 80px;
    height: 80px;
    border-radius: 49.6px;
    margin-left: 30px;
    margin-top: 40px;
  }

  .services-icons {
    width: 40px;
    height: 40px;
  }

  .newsletter-container {
    width: 100%;
    height: 540px;
    background: #ffc600;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

  .newsletter-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 47px;
    color: #292e47;
    margin-top: 40px;
    text-align: center;
  }

  .newsletter-subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #292e47;
    margin-top: 20px;
  }

  .email-subscribe-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }
  .email-box {
    width: 198px;
    height: 82px;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    text-align: right;
    color: black;
    background-image: url(images/mail.svg);
    background-repeat: no-repeat;
    background-position: 5px 25px;
    text-align: center;
    border: 1px solid #ffffff;
  }

  .subscribe-botton {
    box-sizing: border-box;
    width: 200px;
    height: 82px;
    justify-content: center;
    align-items: center;
    padding: 15px 37px;
    gap: 10px;
    background: #072ac8;
    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
    text-align: center;
    color: #ffffff;
    border: 1px solid #072ac8;
    margin-top: 20px;
    cursor: pointer;
  }

  .footer-container {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
  }

  .logo-wrap {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo-footer {
    width: 100px;
  }

  .footer-address {
    width: 65vw;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    margin-bottom: 40px;
  }

  .footer-link-grid {
    margin-left: 30px;
    margin-right: 0%;
    column-gap: 40px;
    margin-bottom: 80px;
  }

  .footer-link {
    font-size: 16px;
  }

  .date {
    padding-top: 20px;
  }

  .project-article-container {
    width: 90vw;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
  }
  .article-heading {
    font-weight: 700;
    font-size: 30px;
    text-align: left;
    line-height: 70px;
    color: #292e47;
    margin-bottom: 10px;
  }

  .subtitle {
    line-height: 0px;
    font-size: 17px;
  }

  .subtitle-date-wrap {
    flex-direction: column;
    width: 100%;
    text-align: left;
  }

  .date {
    font-size: 16px;
    text-align: left;
    line-height: 0px;
  }

  .article-image {
    width: 90vw;
  }

  .article-text {
    width: 90vw;
  }

  .other-project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  .contact-form-container {
    margin: 0px;
    display: flex;
    flex-direction: column;
    width: 80vw;
    padding-left: 0px;
  }

  .contact-heading {
    margin-left: 20px;
    font-weight: bold;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .contact-form-wrapper {
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .email-phone-wrap {
    display: flex;
    flex-direction: column;
  }

  .full-name-inp {
    width: 330px;
    height: 70px;
    margin-bottom: 20px;
  }

  .email-inp {
    width: 330px;
    height: 70px;
    margin-bottom: 20px;
  }

  .phone-inp {
    width: 330px;
    height: 70px;
  }

  .phone-wrap {
    margin-left: 0%;
  }

  .message-inp {
    width: 330px;
    margin-top: 0px;
  }

  .form-button {
    width: 330px;
    cursor: pointer;
  }
  .footer-container {
    margin-left: -15px;
  }
}
